/* 默认值：light */
:root {
  //########################社区色板
  //主调色
  --theme-color: #002fa7;
  //辅助色
  --theme-color-assist: #ff8d4d;
  //########################背景色板
  //页面背景色
  --theme-page-bg: #f5f7fb;
  //卡片背景色
  --theme-card-bg: #ffffff;
  //分割线
  --theme-cross-line: #e5e5e5;
  //表头色
  --theme-form-head: #e5e8f0;
  //########################文字色板
  //标题色
  --theme-title: #000000;
  //正文色
  --theme-text: #555555;
  //副内文色
  --theme-text-ass: #999999;
  //########################功能色板
  //主点击色&高亮色
  --theme-active: #40adff;
  //副可点击色
  --theme-active-ass: #000000;
  //未选中色
  --theme-unselect: #555555;
  //不可点击色
  --theme-disable: #cccccc;
  //反白色
  --theme-white: #ffffff;
  //反黑色
  --theme-black: #000;
  //错误色
  --theme-error: #f3524d;
  //告警色
  --theme-alert: #ff8e36;
  // 阴影
  --theme-shadow: rgba(190, 196, 204, 0.2);
  // 透明
  --theme-opacity: rgba(0, 0, 0, 0.4);
  // 标签
  --theme-primary-hover: 64, 173, 255;
  // 卡片 反黑色
  --theme-card-black: #1e1e1e;
  --theme-white-rgb: 255, 255, 255;
  --theme-black-rgb: 0, 0, 0;
  --theme-active-hover: #40adff;
  //卡片灰色背景
  --theme-card-gray: #e8e9eb;
}
/* 暗黑：dark */
.dark {
  //########################社区色板
  //主调色
  --theme-color: #8fe8dc;
  //辅助色
  --theme-color-assist: #ff8d4d;
  //########################背景色板
  //页面背景色
  --theme-page-bg: #121212;
  //卡片背景色
  --theme-card-bg: #1e1e1e;
  //分割线
  --theme-cross-line: #555555;
  //表头色
  --theme-form-head: #272727;
  //########################文字色板
  //标题色
  --theme-title: #ffffff;
  //正文色
  --theme-text: #e2e2e2;
  //副内文色
  --theme-text-ass: #999999;
  //########################功能色板
  //主点击色&高亮色
  --theme-active: #40a89a;
  //副可点击色
  --theme-active-ass: #ffffff;
  //未选中色
  --theme-unselect: #e2e2e2;
  //不可点击色
  --theme-disable: #555555;
  //反白色
  --theme-white: #ffffff;
  //错误色
  --theme-error: #f3524d;
  //告警色
  --theme-alert: #ff8e36;
  // 阴影
  --theme-shadow: rgba(0, 0, 0, 0.7);
  // 标签
  --theme-primary-hover: 64, 173, 255;
  //卡片黑色背景
  --theme-card-gray: #121212;
}
